{% extends 'partials/base.html.twig' %}
{% block styles %}
<style>
.hero-bg {

    padding-top: 6rem;
    padding-bottom: 6rem;

    color: #ffffff;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #4447C4;
    background-image: url({{url('theme://assets/img/hero-background/bg.svg')}});

}
.hero-bg h1
{
    font-family: 'Rubik', sans-serif;
    font-size: 4.5rem;
    font-weight: normal;
}

.hero-bg a
{
    color: #94d5e8;
}

.hero-bg .call-to-action a.btn
{
    background-color: white;
    color: #5b72b7;
    width: 66%;
    font-size: 1.125rem;
    font-weight: bold;
    margin: 2rem 0;
}
.hero-bg .call-to-action a
{
    color: #ffffff;
}

#features .card
{
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 .5rem 2rem 0 rgba(13, 49, 181, 0.12);
    background-color: #ffffff;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
#features .card:last-child
{
    margin-right: 0;
}

#features .card .card-img-top
{
    border-top-right-radius: 1rem; /* calc(1rem - 1px); */
    border-top-left-radius: 1rem; /* calc(1rem - 1px); */
}

#features .card .card-body
{
    padding: 1.75rem;
    padding-top: 0;
    font-size: .875rem;
    line-height: 1.5;
    color: #646c81;
    text-align: center;
}

#features .card .card-body h5
{
  font-family: "Rubik";
  font-size: 1.375rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.125;
  text-align: center;
  color: #3c80eb;
  padding: 0;
  margin: 0;
  letter-spacing: .05rem;
}

.feature-title-bounding-box
{
    height: 7rem;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

button.carousel-button
{
    background-color: Transparent;
    outline: none;
    border: none;
    margin: 1rem;
    margin-top: 6rem;

    
}
.carousel-button div
{
    background-color: rgba(255, 255, 255, 1);
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    outline: none;
    border: 0;
    line-height: 2;
    display: block;
    padding: 0;
    color: #3c80eb;

}
.carousel-main-card
{
    z-index: 1000;
}
.carousel-prev-card, .carousel-next-card
{
    position: absolute;
    z-index: 999;
    opacity: .5;
    transform: scale(.9);
}
.carousel-prev-card
{
    left: -20rem;
    /*left: -25%;*/
}
.carousel-next-card
{
    right: -20rem;
    /*right: -25%;*/
}


.carousel-dots
{
    margin-top: 1rem;
}
.carousel-dots button
{
    background: none;
    background-color: Transparent;
    border: 0;
    color: #3c80eb;
    outline: none;
    
}
.carousel-dots button.active-dot
{
    color: #fff;
    border: 0;
}


.news-widget .card, .twitter-widget .card
{
    padding: 2rem;
    margin-bottom: 1rem;
}

.twitter-widget .card
{
    {# max-height: 10rem;
    overflow: auto; #}
}

.news-widget .dateline
{
    font-family: Lato, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #3c80eb;

    width: 2.25rem;
    margin-right: 1rem;
}

.news-widget .news-item a
{
    text-decoration: none;
}
.news-widget h4
{
  font-family: Lato, sans-serif;
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.13;
  text-align: left;
  color: #455979;
  text-decoration: none;

}

.news-widget p
{
  font-family: Lato, sans-serif;
  font-size: .875rem;
  line-height: 1.29;
  text-align: left;
  color: #7285a3;
  text-decoration: none;

}


</style>
{% endblock %}




{% block content %}

                {# {% set fellows = pages.find(url('/fellows')) %} #}
                {# {% for fellow in pages.find('/fellows').children() %}
                {{fellow.title}}
                {% endfor %} #}
    <section id="hero" class="hero-bg">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6">
            {% for module in page.collection() if module.folder == '_hero_text' %}
                {{ module.content|raw }}
            {% endfor %}

            <div>No programming/data science experience required.</div>
            <div>Affordable tiered pricing. <a href="#">Learn more</a></div>

            </div>

            <div class="call-to-action col-12 col-sm-6 d-flex align-items-center justify-content-center">
                <div class="w-100 text-center">
                    <a href="{{url(pages.find("/about-cadre/get-started").url)}}" class="btn btn-primary">Get Started</a>
                    <div>
                        <a href="#">Learn about different types of CADRE accounts</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>


    <section id="news-and-highlights" class="">
        <div class="container">
            <h2>News &amp; Highlights</h2>
            <h3>Latest updates about CADRE, CADRE Fellows and their research</h3>

            <div class="row">
                
                <div class="news-widget col-lg-7">
                    <div class="card">
                    
                    {% for item in pages.find("/news-and-events/news").collection('homepageitems') %}

                        <div class="news-item d-flex justify-content-start">
                            <div class="dateline">
                                {{item.header.dateline | date("n/j")}}
                            </div>
                            <div class="">
                            <a href="{{url(item.url)}}">
                                <h4>{{item.title}}</h4>
                                {{item.summary}}
                                </a>
                            </div>

                        </div>

                    {% endfor %}


                    <div class="d-flex justify-content-start">
                            <div class="dateline">
                                
                            </div>
                            <div class="">
                            <a href="{{url(pages.find("/news-and-events/news").url)}}">
                                Browse All News
                            </a>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="twitter-widget col">
                    <div class="card">
                    
                        <a class="twitter-timeline" data-width="" data-height="400" href="https://twitter.com/CADRE_Project?ref_src=twsrc%5Etfw">Tweets by CADRE_Project</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="features" class="blue">
        <div class="container">
            <h2>Features</h2>
            <h3>All of these to offer, and more.</h3>

            <div class="d-flex row">
            {% for module in page.collection() if module.template == "modular/feature"%}
                <div class="col d-flex">{{ module.content|raw }}</div>
            {% endfor %}
            </div>
        </div>
    </section>





    <section id="fellows" class="">
        <div class="container">
        <h2>CADRE Fellows</h2>
        <h3>Meet the community of researchers who are using CADRE to advance their research</h3>
        </div>

        <div id="fellow_carousel">
            <!-- Actual Coursel Vue App -->
            <div style="display: none;" :style="'display: block'">
                <div class="container d-flex justify-content-center">
                    
                    <template  v-for="(fellow, index) in fellows">
                    <transition name="fade">
                    <div v-if="index == current_index - 1">
                    <div class="fellow card carousel-prev-card" >
                        <div class="organization-logos d-flex justify-content-start">
                            <div v-for="logo in fellow.logos" class="d-flex align-items-center org-logo">
                                <img :src="logo.image" :alt="logo.name" />
                            </div>
                        </div>
                        <div class="people-pictures row">
                            <div v-for="person in fellow.people" class="d-flex align-items-center person col">
                                <img class="mr-3" :src="person.image" :alt="person.name" />
                                <strong v-text="person.name"></strong>
                            </div>
                        </div>
                        <h3 v-text="fellow.title"></h3>
                        <div class="summary">
                        <span v-html="fellow.summary"></span><a :href="fellow.url">Read More</a>
                        </div>
                    </div>
                    </div>
                    </transition>
                    </template>

                    <template   v-for="(fellow, index) in fellows">
                    <transition name="fade">
                    <div v-if="index == current_index +1">
                    <div class="carousel-next-card fellow card" >
                        <div class="organization-logos d-flex justify-content-start">
                            <div v-for="logo in fellow.logos" class="d-flex align-items-center org-logo">
                                <img :src="logo.image" :alt="logo.name" />
                            </div>
                        </div>
                        <div class="people-pictures row">
                            <div v-for="person in fellow.people" class="d-flex align-items-center person col">
                                <img class="mr-3" :src="person.image" :alt="person.name" />
                                <strong v-text="person.name"></strong>
                            </div>
                        </div>
                        <h3 v-text="fellow.title"></h3>
                        <div class="summary">
                        <span v-html="fellow.summary"></span><a :href="fellow.url">Read More</a>
                        </div>
                    </div>
                    </div>
                    </transition>
                    </template>

                    <div class="carousel-main-card d-flex justify-content-between align-items-start ">

                        <button class="carousel-button d-flex justify-content-center align-items-center" @click="previousFellow"><div>&#x276e;&nbsp;</div></button>
                        <div style="position: relative">
                            <template  v-for="(fellow, index) in fellows">
                                <transition name="fade" mode="in-out">
                                    <div style="position: absolute; top:0; left:0; right: 0; bottom: 0;" v-if="index == current_index" class="fellow card" :key="'fellow_' + index">
                                        <div class="organization-logos d-flex justify-content-start">
                                            <div v-for="logo in fellow.logos" class="d-flex align-items-center org-logo">
                                                <img :src="logo.image" :alt="logo.name" />
                                            </div>
                                        </div>
                                        <div class="people-pictures row">
                                            <div v-for="person in fellow.people" class="d-flex align-items-center person col">
                                                <img class="mr-3" :src="person.image" :alt="person.name" />
                                                <strong v-text="person.name"></strong>
                                            </div>
                                        </div>
                                        <h3 v-text="fellow.title"></h3>
                                        <div class="summary">
                                        <span v-html="fellow.summary"></span><a :href="fellow.url">Read More</a>
                                        </div>
                                    </div>
                                </transition>
                            </template>

                            <!-- Place Holder -->
                            <div style="visibility: hidden" class="fellow card" >
                                <div class="organization-logos d-flex justify-content-start">
                                    <div v-for="logo in fellows[current_index].logos" class="d-flex align-items-center org-logo">
                                        <img :src="logo.image" :alt="logo.name" />
                                    </div>
                                </div>
                                <div class="people-pictures row">
                                    <div v-for="person in fellows[current_index].people" class="d-flex align-items-center person col">
                                        <img class="mr-3" :src="person.image" :alt="person.name" />
                                        <strong v-text="person.name"></strong>
                                    </div>
                                </div>
                                <h3 v-text="fellows[current_index].title"></h3>
                                <div class="summary">
                                <span v-html="fellows[current_index].summary"></span><a :href="fellows[current_index].url">Read More</a>
                                </div>
                            </div>
                        </div>

                        <button class="carousel-button d-flex justify-content-center align-items-start" @click="nextFellow"><div>&nbsp;&#x276f;</div></button>

                    </div>


                </div>
                <div class="carousel-dots d-flex justify-content-center">
                    <button v-for="(fellow, index) in fellows" :class="{'active-dot': index == current_index}" @click="gotoIndex(index)">&#8226;</button>
                </div>
            </div>

            <!-- Keep this here in case vue carousel fails -->
            <div v-if="!fellows.length" class="container">
                {% set fellows = pages.find('/fellows') %}
                {% for fellow in fellows.children() %}

                <div class="fellow card">
                    <div class="organization-logos d-flex justify-content-start">
                        {% for logo in fellow.header.logos %}
                        <div class="d-flex align-items-center org-logo">
                            <img src="{{ url(fellow.media[logo.image].url) }}" alt="{{ logo.name }}" />
                            {# <strong>{{person.name}}</strong> #}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="people-pictures row">
                        {% for person in fellow.header.people %}
                        <div class="d-flex align-items-center person col">
                            <img class="mr-3" src="{{ url(fellow.media[person.image].url) }}" alt="{{ person.name }}" />
                            <strong>{{person.name}}</strong>
                        </div>
                        {% endfor %}
                    </div>
                    <h3>
                    {{fellow.title}}
                    </h3>
                    <div class="summary">
                    {{fellow.summary}} <a href="{{fellow.url}}">Read More</a>
                    </div>
                </div>

                {% endfor %}

            </div>
        </div>
    </section>



<script>
            {% set fellows = pages.find('/fellows') %}

const FELLOWS = [
    {% for fellow in fellows.children() %}
    {
        logos: [
            {% for logo in fellow.header.logos %}
                {
                    name: {{logo.name|json_encode()}},
                    image: {{ url(fellow.media[logo.image].url) | json_encode()}}
                },
            {% endfor %}
        ],
        people: [
            {% for person in fellow.header.people %}
                {
                    name: {{person.name|json_encode()}},
                    image: {{ url(fellow.media[person.image].url) | json_encode()}}
                },
            {% endfor %}
        ],
        title: {{fellow.header.title|json_encode()}},
        summary: {{fellow.summary|json_encode()}},
        url: {{fellow.url|json_encode()}}
    },
    {% endfor %}
];

console.debug(FELLOWS);

{# 
##     ## ##     ## ########     ######     ###    ########   #######  ##     ##  ######  ######## ##       
##     ## ##     ## ##          ##    ##   ## ##   ##     ## ##     ## ##     ## ##    ## ##       ##       
##     ## ##     ## ##          ##        ##   ##  ##     ## ##     ## ##     ## ##       ##       ##       
##     ## ##     ## ######      ##       ##     ## ########  ##     ## ##     ##  ######  ######   ##       
 ##   ##  ##     ## ##          ##       ######### ##   ##   ##     ## ##     ##       ## ##       ##       
  ## ##   ##     ## ##          ##    ## ##     ## ##    ##  ##     ## ##     ## ##    ## ##       ##       
   ###     #######  ########     ######  ##     ## ##     ##  #######   #######   ######  ######## ########  #}

var fellow_carousel = new Vue({
    el: '#fellow_carousel',
    data: function(){
        return {
            fellows: FELLOWS,
            current_index: 0
        }
    },
    methods: {
        gotoIndex: function(index) {
            this.current_index = index;
        },
        nextFellow: function() {
            let new_index = this.current_index + 1;
            if(new_index >= this.fellows.length)
            {
                new_index = 0;
            }
            this.gotoIndex(new_index);
        },
        previousFellow: function(){
            let new_index = this.current_index - 1;
            if(new_index < 0)
            {
                new_index = this.fellows.length - 1;
            }
            this.gotoIndex(new_index);
        }
    }
});



</script>
{% endblock %}


{% block scripts %}
<script src="{{url('theme://js/vendor/vue.min.js')}}"></script>
{% endblock %}
