{% extends 'default.html.twig' %}
{% set crumbs = breadcrumbs.get() %}
{% set top_level = array_values(crumbs)[1] %}

{% block subcontent %}
<style>
.sidebar img
{
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}
.sidebar .card-body
{
    {# padding-left: .3rem;
    padding-right: .3rem; #}
}
</style>
<aside class="sidebar card float-right ml-3 mb-3 p-0 col-md-3 col-12">

            {% if page.header.sidebar_image %}
            <img class="d-none d-md-block card-img-top" src="{{ url(page.media[page.header.sidebar_image].url) }}" />
            {% endif %}


    <nav class="py-3 px-4 card-body">
    {# <pre>
    {{ array_values(crumbs)[1].title}}
    </pre> #}
        <a href="{{url(top_level.url)}}"><strong class="card-title">{{top_level.title}}</strong></a>
        <ul class="list-unstyled mb-0">
        {% for subpage in top_level.children() %}
            <li>
                <a href="{{url(subpage.url)}}">{{subpage.title}}</a>

                {% if subpage.children() %}
                    <ul class="list-unstyled mb-0 ml-3">
                    {% for sub_subpage in subpage.children() %}
                        <li>
                            <a href="{{url(sub_subpage.url)}}">{{sub_subpage.title}}</a>

                            {% if sub_subpage.children() %}
                                <ul class="list-unstyled mb-0 ml-3">
                                {% for sub_sub_subpage in sub_sub_page.children() %}
                                    <li>
                                        <a href="{{url(sub_sub_subpage.url)}}">{{sub_sub_subpage.title}}</a>

                                        {% if sub_sub_subpage.children() %}
                                            <ul class="list-unstyled mb-0 ml-3">
                                            {% for sub_sub_sub_subpage in sub_sub_sub_page.children() %}
                                                <li>
                                                    <a href="{{url(sub_sub_sub_subpage.url)}}">{{sub_sub_sub_subpage.title}}</a>

                                                    
                                                </li>
                                            {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </nav>
</aside>
<div>
    {{ page.content|raw }}
</div>

{% endblock %}