{# {% set body_classes = body_class(['header-fixed', 'header-animated', 'header-dark', 'header-transparent', 'sticky-footer']) %} #}
{# {% set grid_size = theme_var('grid-size') %} #}
{# {% set compress = theme_var('production-mode') ? '.min.css' : '.css' %} #}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146539002-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-146539002-1');
</script>



{% block head deferred %}
    <meta charset="utf-8" />
    <title>{% if page.title %}{{ page.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    {# <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" /> #}
    <link rel="canonical" href="{{ page.url(true, true) }}" />
{% endblock head %}



{% block stylesheets %}
<script src="https://kit.fontawesome.com/81179d7d28.js"></script>

<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" href="{{ url('theme://css/iu-brand.css') }}" />
<link rel="stylesheet" href="{{ url('theme://css/cadre.css') }}" />
{# <link rel="stylesheet" href="https://assets.iu.edu/brand/3.2.x/brand.css" /> #}

    {# {% do assets.addCss('theme://css-compiled/spectre'~compress) %}
    {% if theme_var('spectre.exp') %}{% do assets.addCss('theme://css-compiled/spectre-exp'~compress)  %}{% endif %}
    {% if theme_var('spectre.icons') %}{%  do assets.addCss('theme://css-compiled/spectre-icons'~compress) %}{% endif %}
    {% do assets.addCss('theme://css-compiled/theme'~compress) %}
    {% do assets.addCss('theme://css/custom.css') %}
    {% do assets.addCss('theme://css/line-awesome.min.css') %} #}
{% endblock %}

{# {% block javascripts %}
    {% do assets.addJs('jquery', 101) %}
    {% do assets.addJs('theme://js/jquery.treemenu.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://js/site.js', {group:'bottom'}) %}
{% endblock %} #}

{# {% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
{% endblock %} #}
{% block styles deferred %}
{% endblock %}

{% block scripts deferred %}
{% endblock %}

</head>
<body id="top" class="{% block body_classes %}{{ body_classes }}{% endblock %}">
    <div class="iu-header-wrapper">
    {% include 'partials/iu-header.html.twig' %}
    </div>

    <header id="main-header">
        <nav class="container navbar navbar-expand-lg">
            <a class="navbar-brand" href="{{url(base_url_absolute)}}"><img src="{{url('theme://assets/img/logo/logo-and-type.svg')}}" alt="CADRE" /><span class="d-none">CADRE</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {% for page in pages.children if page.header.main == true %}
                        <li class="nav-item">
                            <a href="{{url(page.url)}}">{{page.title}}</a>
                        </li>
                    {% endfor %}
                </ul>
                {# <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form> #}
                <a href="{{url(pages.find('/about-cadre/get-started').url)}}" class="btn get-started-button">Get Started</a>
            </div>
        </nav>
    </header>



        {% block body %}
                    {% block messages %}
                        {% include 'partials/messages.html.twig' ignore missing %}
                    {% endblock %}
                    {% block content %}{% endblock %}
        {% endblock %}


    <footer id="main-footer">
        <div class="container">
        <div class="row">
            <div class="col">
                <a class="cadre-logo" href="{{url(base_url_absolute)}}"><img src="{{url('theme://assets/img/logo/logo-and-type.svg')}}" alt="CADRE" /><span class="d-none">CADRE</span></a>
                <div class="d-flex justify-content-between social-icons">
                    {# <a href=""><i class="fab fa-facebook-square"></i></a> #}
                    <a href="https://twitter.com/CADRE_Project"><i class="fab fa-twitter"></i></a>
                    {# <a href=""><i class="fab fa-instagram"></i></a> #}
                </div>
            </div>

            {% for page in pages.children if page.header.main == true %}
            <div class="col">
                <a href="{{url(page.url)}}"><strong>{{page.title}}</strong></a>
                <ul class="list-unstyled">
                    {% for subpage in page.children %}
                    <li class="list-item">
                        <a href="{{url(subpage.url)}}">{{subpage.title}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}

            {# <div class="col">
                <strong>About CADRE</strong>
                {{site.title}}
                {% for mitem in site.menu %}
            <li>
                <a {% if mitem.class %}class="{{ mitem.class }}"{% endif %} href="{{ mitem.url }}">
                    {% if mitem.icon %}<i class="fa fa-{{ mitem.icon }}"></i>{% endif %}
                    {{ mitem.text }}
                </a>
            </li>
        {% endfor %} #}

            {# </div>
            <div class="col">
                <strong>Documentation</strong>
            </div>
            <div class="col">
                <strong>Work With Us</strong>
            </div>
            <div class="col">
                <strong>Resources</strong>
            </div> #}
            </div>

        </div>
    </footer>

    {% include 'partials/iu-footer.html.twig' %}
</body>
</html>
